@model WhatShouldIDoNow.Models.CreateTaskViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create a New Task</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Input something that you want to do</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Does your task repeat?</label>
            <div class="col-md-10">
                <div><label><input class="intervalRadios" type="radio" name="buttonInterval" value="0" checked /> Don't Repeat</label></div>
                <div><label><input class="intervalRadios" type="radio" name="buttonInterval" value="24" /> Daily</label></div>
                <div><label><input class="intervalRadios" type="radio" name="buttonInterval" value="168" /> Weekly</label></div>
                <div><label><input class="intervalRadios" type="radio" name="buttonInterval" value="672" /> 4 Weeks</label></div>
                <div>
                    <label id="customIntervalLabel">
                        <input class="intervalRadios" type="radio" name="buttonInterval" value="-1" id="customInterval" /> Custom
                    </label>
                    <span>
                        <input asp-for="IntervalByHour" disabled /> (hours)
                        <span asp-validation-for="IntervalByHour" class="text-danger"></span>
                    </span>
                </div>                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<script>
    
    var customRadio = document.getElementById('customInterval');
    var customTextInput = document.getElementById('IntervalByHour');
    var intervalRadios = document.getElementsByClassName('intervalRadios');

    var clickHandler = function clickHandler(event) {
        if (customRadio.checked) {
            customTextInput.disabled = false;
        } else {
            customTextInput.disabled = true;
        }
    };

    for (i = 0; i < intervalRadios.length; i++) {
        intervalRadios[i].onclick = function (event) {
            clickHandler();
        };
    }
    

</script>