@model WhatShouldIDoNow.DataAccess.Models.TaskToDo

@{
    ViewData["Title"] = "RandomTask";
}

<h2>Pick a Random Task</h2>
@if (Model == null)
{
    <p>Today is a happy day!<br>Everything is Complete</p>
}
else
{
    <p>@Model.Description</p>
    <br>
    <br>
    <form asp-controller="Tasks" asp-action="Complete" method="post">
        <button type="submit">
            This is now complete
        </button>
        <input id="CompleteId" type="hidden" asp-for="Id"/>
    </form>
    <br></br>
    <form asp-controller="Tasks" asp-action="Snooze" method="post">
        <button id="Snooze15min" type="submit">
            Snooze for 15 minutes
        </button>
        <input id="Snooze15Id" type="hidden" asp-for="Id" />
        <input id="SnoozeTime15" name="SnoozeTime" type="hidden" value="15"/>
    </form>
    <br></br>
    <form asp-controller="Tasks" asp-action="Snooze" method="post">
        Snooze for: <input id="SnoozeSpecifyMins" type="number" name="SnoozeTime" value="60" /> mins. 
        <button id="SnoozeSpecifyMin" type="submit">
            Snooze!
        </button>
        <input id="SnoozeSpecifyId" type="hidden" asp-for="Id" />
    </form>

}
