@model WhatShouldIDoNow.DataAccess.Models.TaskToDo

@{
    ViewData["Title"] = "RandomTask";
}

<h4>Random Task:</h4>

@if (Model == null)
{
    <p>Today is a happy day!<br>Everything is Complete</p>
}
else
{
    <h3 class="task-description">
        @Model.Description
    </h3>
    <form asp-controller="Tasks" asp-action="Complete" method="post">
        <button type="submit">
            This is now complete
        </button>
        <input id="CompleteId" type="hidden" asp-for="Id"/>
    </form>
    <br></br>
    <form asp-controller="Tasks" asp-action="Snooze" method="post">
        <button id="Snooze15min" type="submit">
            Snooze for 15 minutes
        </button>
        <input id="Snooze15Id" type="hidden" asp-for="Id" />
        <input id="SnoozeTime15" name="SnoozeTime" type="hidden" value="15"/>
    </form>
    <br></br>
    <form asp-controller="Tasks" asp-action="Snooze" method="post">
        Snooze for: <input id="SnoozeSpecifyMins" type="number" name="SnoozeTime" value="60" /> mins. 
        <button id="SnoozeSpecifyMin" type="submit">
            Snooze!
        </button>
        <input id="SnoozeSpecifyId" type="hidden" asp-for="Id" />
    </form>
    <br />
    <br />
    @Html.ActionLink("Delete this task","Delete","Tasks",new { @id = Model.Id }, new { @class = "btn btn-danger" })

}
