@model WhatShouldIDoNow.DataAccess.Models.TaskToDo

@{
    ViewData["Title"] = "RandomTask";
}

<h2>Pick a Random Task</h2>
@if (Model == null)
{
    <p>Today is a happy day!<br>Everything is Complete</p>
}
else
{
    <p>@Model.Description</p>
    <br>
    <br>
    <form asp-controller="Tasks" asp-action="Complete" method="post">
        <button type="submit">
            This is now complete
        </button>
        <input id="CompleteId" type="hidden" asp-for="Id"/>
    </form>
    <br></br>
    <form asp-controller="Tasks" asp-action="Snooze" method="post">
        <button type="submit">
            Snooze for 5 minutes
        </button>
        <input id="SnoozeId" type="hidden" asp-for="Id" />
    </form>

}
